
/* Hero section styling */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF; /* White background for contrast */
  padding: 16px 64px;
}

/* Left section (text and buttons) */
.leftbar {
  flex: 1;
  padding: 16px;
}

.leftbar h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 70px;
  margin-bottom: 10px;
}

.leftbar h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  font-family: 'Inter', sans-serif;
  background-color: #1f2953; /* Dark blue for the buttons */
  color: #FFFFFF;
  padding: 15px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #36436d; /* Lighter blue on hover */
}

/* Right section (images) */
.rightbar {
  padding-top: 70px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.rightbar img {
  width: 200px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.blog {
  margin: 0 ;
  padding:16px 64px ;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  padding: 32px 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align:left ;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cards {
  position: relative; 
  overflow: hidden; 
  display: flex;
  flex-direction: row;
}

.card {
  flex: 0 0 20%;
  margin: 0 10px;
  text-align: center;
}

.thumbnail img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.desc {
  margin-top: 10px;
}

.blog-title {
  font-size: 30px;
  font-weight:normal;
  margin-bottom: 10px;
}

 .brief {
  font-size: 20px;
  font-weight: lighter;
  color: #555;
  margin-bottom: 10px;
}

.date {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.pre-btn, .nxt-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 100; 
}

.pre-btn{
  left: 0;
}

.nxt-btn {
  right: 0;
}

.interviews {
  margin: 10px 0 ;
  padding:16px 64px ;
  font-family: 'Josefin Sans', sans-serif;
}

.interviews .title-link {
  font-size: 30px;
  font-weight:normal;
  margin-bottom: 10px;
}

.interviews .pre-btn{
  top: 230%;
}
.interviews .nxt-btn{
  top: 230%;
}
.academics {
  margin: 10px 0 ;
  padding:16px 64px ;
  font-family: 'Josefin Sans', sans-serif;
}
.academics .title-link {
  font-size: 30px;
  font-weight:normal;
  margin-bottom: 10px;
}
.abstract{
  background-color: rgb(72, 64, 172);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
